@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.chart {
  margin-bottom: 10px;
}
.dashInner {
  margin-top: 30px;

  border: 4px solid #287bff;

  position: relative;
  width: 95%;
  padding: 20px;
  /* grid-template-columns: repeat(3,1fr); */
  display: flex;
  /* grid-gap: 40px; */
  height: 650px;
  margin-left: 40px;
  border-radius: 10px;
  /* box-shadow: 0 7px 25px rgba(127, 126, 126, 0.88); */
}
.graphss {
  position: relative;
  height: 600px;
  width: 700px;
  margin-top: 10px;
}
.graphss h2 {
  margin-left: 200px;
}

#lineChart {
  margin-top: 20px;
}
.rightDiv {
  margin-left: 36px;
  height: 600px;
  /* width: 200px; */
  margin-top: 73px;
}
.rightDiv h2 {
  margin-left: 140px;
}
#container22 {
  margin-top: 20px;
  width: 420px;
  height: 100px;
  /* background-color: #0000; */
}

.taskArea .taskSubArea h2 {
  margin-top: 10px;
}
#example {
  width: 100px;
  margin-bottom: 100px;
}
